html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 10px 0;
  > * {
    margin: 5px 0;
  }
}
textarea {
  flex: 1;

  &:focus {
    flex: 1.5;
  }
}
header {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: sans-serif;
  color: grey;
}

textarea,
input,
button {
  box-shadow: 0 0 10px 0 #ddd;
  border: 0;

  transition: flex 0.3s, background-color 0.3s, box-shadow 0.3s;
  border-radius: 3px;
  padding: 10px;
  outline: none;
}
.actions {
  display: flex;
  input {
    flex: 1;
  }
  button {
    margin-left: 10px;
    padding: 10px 30px;

    color: white;
    font-weight: bolder;
    cursor: pointer;
    &.encrypt {
      background-color: #88f;
    }
    &.decrypt {
      background-color: #f88;
    }
  }
}
